*{
    margin:0;
}
ul>li{
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    
}
ul{
    display:flex;
    gap:20px;
}
nav{
    display:flex;  
    background-color: #fff9ea;
    align-items: center;
    justify-content: center;
}
nav i {
    padding: 10px;
    padding-right:30px;
}
nav button{
    border-radius: 20px;
    background-color: #ffcb45;
    font-weight: 700;
    
    
}
